#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  box-shadow: 2px 3px 6px 1px rgba(114, 113, 113, 0.363);
  margin-bottom: 20px;
} 

ul {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: #000000;
}

li {
  margin: 5px 10px;
}

.content-main{
  display: flex;
  flex-direction: column;
}
.content-container{
  display: flex;
  justify-content: center;
  border: 1px solid red;
  flex-wrap: wrap;
}

.card-container-main{
  width: 300px;
  /* border: 1px solid; */
  border-radius: 10px;
  margin: 10px;
  box-shadow: 2px 3px 6px 1px rgba(85, 84, 84, 0.363);
}

.imgCard{
  height: 200px;
  width: 200px;
  margin: 6px;
}

.content-buttons{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

